@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Bitter', serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1300px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 40px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.4);
}

.nav_logo-image {
    flex: 1;
}

.nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    flex: 10;
}

.nav_list-item {
    font-family: 'Raleway', sans-serif;
    color: #1D2F38;
    margin: 0 0 0 30px;
}

.nav_box {
    display: flex;
    align-items: center;
    flex: 2;
}

.nav_link {
    font-family: 'Raleway', sans-serif;
    color: #1D2F38;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 500px;
    background-color: #E3EBF1;
    border-radius: 10px;
    margin: 60px 0 0 40px;
    padding: 20px;
}

.hero_box-w {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #10843F;
}

h1 {
    font-size: 45px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 8px 0 15px 0;
}

span {
    font-weight: 700;
}

.hero_box-text {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #333333;
}

.hero_box-button {
    padding: 18px 28px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    background-color: #10843F;
    border: none;
    border-radius: 5px;
    margin: 30px 0 0 0;
}
/* - header end - */

main {
    max-width: 1300px;
    margin: 0 auto;
}

.blog_section, .reviews_section, .end_section {
    margin: 0  0 60px 40px;
}

.blog_section-wrapper {
    display: flex;
    margin: 0 0 60px 0;
}


.section-title {
    font-size: 45px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 60px 0 30px 0;
}

.blog_section-lbox-title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 10px 0;
}

.blog_section-lbox-text {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #1D2F38;
}

.blog_section-box {
    display: flex;
    align-items: center;
    margin: 0 0 30px 40px;
}

.blog_section-box-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #1D2F38;
    margin: 0 0 0 20px;
}

a {
    color: #1D2F38;
    text-decoration: none;
}

.section-link {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.blog_section-extra-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-image: url(./images/IMAGE\ \(12\).svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: -10px 0;
    margin: 60px 0 0 0;
}

.blog_section-ebox-title {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
}

.blog_section-ebox-button {
    padding: 18px 24px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #10843F;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 400px;
}

.reviews_section-wrapper {
    display: flex;
    margin: 0 0 60px 0;
}

.reviews_section-box {
    height: 380px;
    background-color: #f1f4f4cc;
    border-radius: 10px;
    margin: 0 80px 0 0;
}

.reviews_section-box-title {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 20px 0 0 20px;
}

.reviews_section-box-text {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #1D2F38;
    margin: 10px 0 0 20px;
}

.end_section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(./images/IMAGE1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: -70px 0;
    padding: 40px;
}

.end_section-box {
    margin: 0 0 0 50px;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
}

.end_section-title {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 0 0 0 10px;
}

.end_section-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #1D2F38;
    margin: 30px 0 20px 0;
}

input {
    width: 520px;
    height: 40px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #AABCC5;
    padding: 20px;
}

.end_section-button {
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #FFC728;
    border: none;
    border-radius: 5px;
    margin: 30px 20px 0 0;
}

.end_section-link {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #536D7A;
}
/* - main end - */


footer {
    display: flex;
    max-width: 1300px;
    height: 550px;
    background-color: #F7F9FA;
    margin: 60px auto;
    padding: 40px;
}

.fa-brands {
    font-size: 28px;
    margin: 8px 10px 20px 0;
}

.footer_text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    color: #1D2F38;
}

.footer_title {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Bitter', serif;
    color: #1D2F38;
    margin: 0 0 20px 0;
}

.footer_inp {
    width: 350px;
    height: 50px;
    border-color: #768F9C;
}

.footer_button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background-color: #768F9C;
    border: none;
    border-radius: 5px;
}

.footer_list {
    list-style: none;
    margin: 30px 0 0 0;
}

.footer_list-item {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #1D2F38;
    margin: 0 0 10px 0;
}

hr {
    margin: 0 0 30px 0;
}

.footer_link {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #1D2F38;
}

/* - footer end - */